.detail-container   {
    padding: 10px;
}
.detail-container  p {
    font-size: 15px;
    margin-top: 20px;
    line-height: 1.75;
}

.default-container {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    width: 40%;
}
