.popup-overlay {
    position: fixed;
    top: 16px;
    left: 16px;
    width: calc(100vw - 32px);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #DF1952;
    border-radius: 6px;
    z-index: 1000;
  }
  
  .popup-container {
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow-y: auto;
  }
  
  .icon-red {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: red;
  }
  
  .popup-content {
    text-align: left;
  }
  
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.3);
  }