.search-container {
    position: relative;
    width: 100%;
}

.search-container span {
    position: absolute;
    left: 8px;
    top: calc(50% - 8px);
    margin-right: 8px;
    color: #DF1592;
    font-size: 14px;
}

input[type="search"] {
    border: 2px solid #DF1592;
    width: 100%;
    padding: 8px 16px 8px 32px;
    border-radius: 6px;
}

input:hover {
    background-color: #f0d4e5;
    border: 2px solid #DF1592;
}

input:focus {
    outline: none;
    background-color: #f0d4e5;
    border: 2px solid #DF1592;
}