.header {
    display: flex;
    gap: 10px;
    width: calc(100% - 30px);
    height: 40px;
    border-bottom: 1px solid gray;
    background-color: rgb(179, 176, 176);
    padding: 8px 16px;
}

@media (max-width: 500px) {
    .header {
        flex-direction: column;
        height: auto;
    }
}

.content {
    display: flex;
    align-items: flex-start;
}

@media (max-width: 500px) {
    .content {
        flex-direction: column;
    }
}

.content-list {
    width: 60%;
}

@media (max-width: 500px) {
    .content-list {
        width: 100%
    }
}

.content-details {
    width: 40%;
    padding: 20px;
}

@media (max-width: 500px) {
    .content-details {
        width: 100%;
        padding: 0px;
    }
}

.divider {
    border: 1px solid gray;
    height: calc(100vh - 100px);
}

@media (max-width: 500px){
    .divider {
        display: none;
    }
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 24px;
    color: #555;
  }