.movie-container {
    display: flex;
    width: calc(100% - 64px);
    border-bottom: 1px solid #DF1592;
    padding: 16px 32px;
    gap: 20px;
    font-size: 15px;
}

.movie-container > div {
    text-align: left;
}

.movie-container > div:nth-child(2) {
    flex-grow: 1;    
}

.movie-container:hover {
    background-color: #f0d4e5;
    cursor: pointer;
}

.movie-container.selected {
    color: #FFFFFF;
    background-color: #DF1592;
}
