@import url(./Shared/Components/PopUp/PopUp.css);
@import url(./Shared/Components/SearchBar/SearchBar.css);
@import url(./Shared/Components/Table/Table.css);
@import url(./Shared/Components/Dropdown/Dropdown.css);
@import url(./Icons/icomoon.css);
@import url(/src/Components/MovieDetails/MovieDetail.css);
@import url(/src/Pages/HomePage.css);
* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  padding: 16px;
}
